@import 'assets/styles/main';

.inner-container {
  .loading-spinner-wrapper {
    height: 70vh;
    @include flexbox;
  }
  .btn-row {
    @include flexbox(end, center);
  }
  .btn {
    width: 10%;
  }

  .none-contents {
    @include column-flexbox;
    .none-text {
      @include flexbox;
    }

    .none-img {
      width: 500px;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
