@import 'assets/styles/main';

.file-button {
  margin: 5px 0;
  font-family: $font-main;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid $black;
  width: 100%;
  background-color: $background-shadow;
  color: $gray-4;
  
  

}