@import 'assets/styles/main';

.popup { display: none; }
.popup.open { display: block;  }

.badge {
  position: absolute;
  background-color: $red;
  top: 0; 
  margin-left: 12px;
  color: $white;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  font-size: 10px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}



.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // content: ' ';
  // TODO delete
  // background: rgba(0,0,0,.5);
  z-index: 999;
}
.popover {
  top: 100px;


  hr {
    height: 2px;
    background-color: $black;
    border: none;
  }

}

.contents {
  background-color: $background-shadow;
  // background-color: #ffe06f;
  // background-color: $white;
  position: absolute;
  top: 100;
  right: 0;
  text-anchor: middle;
  width: 400px;
  height: 600px;
  border: 2px solid $black;
  border-radius: 10px;
  padding-top: 20px;
  z-index: 999;

  font-size: small;

          

  .notification-header {
    margin: 8px 24px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 10%;

    .notification-sub-header {
      line-height: 16px;
      align-self: start;
      font-size: smaller;
    }
    .notification-read-all {
      justify-content: end;
      align-items: flex-end;
    }
  }



  .notification-unread-count {
    color: $red;
    font-weight: 600;
  }



  .list {
    overflow: scroll;
    // height: max-content;
    // height: 470px;
    height: 85%;
    
    .list-new,
    .list-prev {
      // overflow: scroll;
      // height: min-content;
      // height: 190px;
      
    }
    .list-header {
      display: flex;
      background-color: $black;
      color: $white;
      // background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 32px;
      text-align: start;
      align-items: center;
      padding-left: 15px;
      

    }


  }
  
}
.reload-button {
  position: absolute;
  // overflow-y: scroll;
  // top: 600px;
  width: 100%;
  text-align: center;
  // margin-top: 20px; 

  // background-color: $black;
  border-radius: 0 0 8px 8px;
  bottom: 0;
  background-color: rgb(190, 190, 190);
  z-index: 999;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $gray-4;
  }
}

