@import 'assets/styles/main';

.inner-container {
  padding: 250px 0;
  position: relative;
}

.text-wrapper {
  text-align: center;
  margin-bottom: 120px;
}

.slogan {
  @include text-style(48);
  margin-bottom: 30px;

  span {
    @include text-style(48, $orange);
    font-family: $font-header;
  }
}

.description {
  @include text-style(18, $gray-4);
  margin-bottom: 32px;
}

.buttonRow {
  width: 188px;
  margin: 0 auto;
}

.character {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0px;
  transform: rotate(15deg);
  .character-main {
    width: 500px;
    filter: drop-shadow(5px 5px 5px rgb(145, 145, 145));
    animation: ani 1s infinite alternate;

    @keyframes ani {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 5px);
      }
    }
  }
}
