@import 'assets/styles/main';

.history-item {
  border: 2px solid $black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px 0 50px 0;
  display: flex;
  background-color: $white;

  .image {
    margin: 0 30px 0 0;

    .card {
      box-shadow: $btn-shadow;
      border-radius: 8px;
      position: relative;
      background-color: $black;
      height: 250px;
      width: 300px;

      .img-wrap {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          border: 2px solid $black;

          &:hover {
            opacity: 0.8;
          }
        }
      }
      .tag {
        text-align: center;
        bottom: 3%;
        right: 3%;
        position: absolute;
      }
    }
  }

  .title {
    @include text-style(24);
    margin: 10px 0 0 0;
    font-family: $font-main;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.item-info-wrap {
  width: 100%;
  margin-bottom: 30px;

  .date-row {
    @include flexbox(start);
    .date-title {
      margin-right: 10px;
      // font-size: 12px;
    }
    .date-start-title {
      margin-top: 10px;
    }
    .date-dday {
      color: $red;
    }
  }
  .value-row {
    @include flexbox(start, end);
    margin-top: 5px;
    align-items: baseline;

    .value-info {
      font-family: $font-number;
      font-size: xx-large;
    }

    .value-title {
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }

  .withdraw-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.progress-info {
  margin-bottom: 30px;
  .progress-rate {
    right: 0%;
    @include flexbox(end);
  }
}

.donate-title {
  @include flexbox(start);
  margin-bottom: 20px;
}

.donate-plan {
  border: 2px solid $black;
  border-radius: 8px;
  padding: 10px;

  .detail-plan {
    @include flexbox(between);
    .ocBtn {
      cursor: pointer;
    }
  }
  .history-items {
    margin-top: 10px;
  }
}
