$background: #f7f8fa;

$blue: #4263eb;
$blue-dark: #3186c4;

$black: #000;
$dark: #212429;
$gray-4: #495057;
$gray-3: #acb5bd;
$gray-2: #dde2e5;
$gray-1: #f8f9fa;
$white: #fff;

$red: #D64739;
$red-dark: #c14034;

$green: #31A96E;
$green-dark: #298c5c;

$orange: #ff9c06;
$yellow: #fcda62;

$error: #f03d3e;
$success: #374fc7;
$notification: #d84910;
