@import 'assets/styles/main';

.item {
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: $yellow;
  white-space: nowrap;
  cursor: pointer;

  .item-content {
    line-height: normal;
    .item-date {
      color: $gray-4;
      font-size: smaller;
    }

    .item-description {
      width: 100%;
      font-size: small;
    }
  }

  .item-label {
    display: flex;
    // justify-content: flex-end;
    align-items: flex-end;
    color: $gray-3;
    width: fit-content;
    font-size: smaller;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.notification-new {
  background-color: $yellow;

  .item-label {
    color: $red;
  }
}
