@import 'assets/styles/main';

%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  // height: 32px;
  padding: 4px 16px;
  font-weight: 400;
  border: 2px solid $black;
  border-radius: 200px;
  font-family: 'Noto Sans';
 white-space: nowrap
}

.tag-red {
  @extend %tag-base;
  color: $black;
  background-color: $red;
}

.tag-green {
  @extend %tag-base;
  color: $black;
  background-color: $green;
}

.tag-yellow {
  @extend %tag-base;
  color: $black;
  background-color: $yellow;
}

.tag-orange {
  @extend %tag-base;
  color: $black;
  background-color: $orange;
}

.tag-black {
  @extend %tag-base;
  color: $white;
  background-color: $black;
}