@import 'assets/styles/main';

// .row {
//   overflow: hidden;
// }

.container-wrap {
  height: 50vh;
  position: relative;
  @include flexbox(start, start);
  // .row {
  //   flex-wrap: nowrap;
  // }
}

.nft {
  width: 285px;
  height: 285px;
}

.img {
  width: 285px;
  height: 285px;
  position: absolute;
}

.theme-container {
  width: 100%;
  height: 285px;
  overflow: hidden;
  position: absolute;
}
.theme-wrap {
  display: flex;
  flex-wrap: nowrap;
  animation: move 10s infinite alternate;
  animation-timing-function: ease-in-out;
}

.theme {
  width: 280px;
  height: 285px;
}

@keyframes move {
  /* circle이라는 애니메이션 키프래임 만들기*/
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-280px, 0);
  }
  50% {
    transform: translate(-560px, 0);
  }
  75% {
    transform: translate(-840px, 0);
  }
  100% {
    transform: translate(-1120px, 0);
  }
}
