@import 'assets/styles/main';

.signup-container {
  width: 100%;

  .signup-innerContainer {
    border: 2px solid $black;
    box-shadow: $btn-shadow;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 150px;
    @include flexbox(between, start);
    .signup-title {
      margin-bottom: 30px;
    }

    .signup-form {
      width: 40%;
      .input-row {
        margin-bottom: 10px;
        .input-wrap {
          @include flexbox(between);
          .input {
            width: 78%;
          }

          .button {
            width: 20%;
            height: 100%;
          }
        }
      }
      .nickname-wrapper {
      }
    }
  }
}

.inputWithBtn {
  @include flexbox;
  .inputBtn {
    margin-left: 5px;
    width: 20%;
  }
}
.inner-container {
  border: 2px solid $black;
  box-shadow: $btn-shadow;
  padding: 50px;
  margin-bottom: 150px;
  .article-header {
    margin-bottom: 50px;
  }
  .button-wrap {
    @include flexbox(end, center);

    .buttons {
      @include flexbox(between, center);
      width: 180px;
    }
  }

  .info-wrap {
    @include flexbox(between, center);

    .sub-info {
      @include flexbox;

      .views,
      .comment {
        @include flexbox;
      }

      .views {
        margin-right: 30px;
      }
      .icon {
        margin-right: 5px;
      }
    }

    .author {
      @include flexbox;
      .name {
        margin-left: 5px;
      }
    }
  }
}
