@import 'assets/styles/main';

%badge-base {
  @include inline-flexbox;
  @include text-style(24);
  height: 58px;
  padding: 11px 30px;
  font-family: $font-sub;
  font-weight: 400;
  border: 2px solid $black;
  border-radius: 8px;
}

.badge-red {
  @extend %badge-base;
  color: $black;
  background-color: $red;
}

.badge-green {
  @extend %badge-base;
  color: $black;
  background-color: $green;
}

.badge-yellow {
  @extend %badge-base;
  color: $black;
  background-color: $yellow;
}

.badge-orange {
  @extend %badge-base;
  color: $black;
  background-color: $orange;
}

.badge-black {
  @extend %badge-base;
  color: $white;
  background-color: $black;
}
