@import 'assets/styles/main';

.header {
  @include flexbox;
  margin: 50px 0;
}

.inner-container {
  border: 1px solid $black;
  box-shadow: $btn-shadow;
  background-color: $white;
  padding: 50px;

  // .editor {
  //   margin-bottom: 50px;
  //   .title {
  //     @include text-style(24);
  //     resize: none;
  //     width: 100%;
  //   }
  // }

  .donate-receipt {
    @include flexbox(between, start);

    .total-donate {
      width: 38%;
      height: 270px;
      border: 2px solid $black;
      border-radius: 8px;
      padding: 50px 30px;
    }
  }

  .btn-row {
    @include flexbox;

    .regist-btn {
      width: 200px;
    }
  }
}
