@import 'assets/styles/main';

.containor {
  display: flex;
  position: relative;
  .section1 {
    padding: 50px;
    width: 50%;
    margin: 60px 20px 50px 0;
    .header {
      margin: 0 0 30px 0;
      .title {
        font-family: $font-header;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
      }
      .sub-title {
        font-family: $font-main;
        font-weight: 600;
        font-size: 14px;
        color: $gray-3;
      }
    }
    .input-data {
      @include flexbox;
      font-family: $font-main;
      margin: 0 0 10px 0;
      .input-title {
        font-family: $font-main;
        margin: 0 10px 0 0;
        width: 100px;
        top: 50%;
        font-size: medium;
        color: $gray-3;
        vertical-align: middle;
      }
    }
  }
  .section2 {
    padding: 50px 0;
    margin: 60px 50px 50px 0;
    // justify-content: flex-start;
    .header {
      margin: 0 0 30px 0;
      .title {
        font-family: $font-header;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .input-data {
      font-family: $font-main;
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      .input-title {
        font-family: $font-main;
        margin: 0 10px 0 0;
        width: 150px;
        top: 50%;
        font-size: medium;
        color: $gray-3;
        vertical-align: middle;
      }
    }
  }
}
.nextbtn {
  Button {
    position: absolute;
    width: 200px;
    bottom: 0%;
    right: 0;
  }
}
