@import 'assets/styles/main';

.container {
  position: relative;
  padding-top: 8px;
  .inner-container {
    background-color: $white;
    border: 2px solid $black;
    box-shadow: $btn-shadow;
    padding: 50px;
    // margin-bottom: 150px;
  }
}
