@import 'assets/styles/main';

.receipt {
  border: 2px solid $black;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  margin-top: 60px;
  background-color: $background;
  width: 48%;
  height: 230px;

  .badge {
    position: absolute;
    top: -30px;
    left: 30px;
  }

  .history {
    margin-top: 50px;
  }
}
