@import 'assets/styles/main';
@import 'assets/styles/main';

.container {
  margin: 0 auto;

  .profile-info {
    display: flex;
    flex-direction: column;
    font-size: small;
    
    b {
      font-size: 24px;
    }
  }
  
  .profileimage {
    @include flexbox;
    justify-content: center;
  }
  .myaccount {
    margin-left: 45rem;
  }
}
