@import 'assets/styles/main';

.inner-container {
  padding: 30px;
  border: 2px solid $black;
  box-shadow: $btn-shadow;
  background-color: $white;
  
  .title {
    margin-bottom: 20px;
  }
  
  .content {
    width: 100%;
    min-height: 350px;
  }

  .open-btn {
    cursor: pointer;
  }
}
