@import 'assets/styles/main';

.lnb {
  @include no-scrollbar;
  $lnb-link-padding: 8px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;

  // background-color: $white;
  .row {
    @include flexbox;
    padding: 50px 0 0 0;
  }
  &-list {
    background-color: $background;
    @include inline-flexbox(between);
    width: fit-content;
    height: 45px;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    white-space: nowrap;
    border: 2px solid $gray-4;
    border-radius: 8px;
  }

  &-item {
    padding: 8px 16px;
    width: 25%;
    text-align: center;
    border-radius: 8px;
    white-space: nowrap;

    &.is-active {
      // li {
        width: fit-content;
      background-color: $red;
      // color: $blue;
      // border-bottom-color: $blue;
      // }
    }
  }
}
