@import 'assets/styles/main';

.containor {
  position: relative;
  .maintitle {
    font-family: $font-header;
    font-weight: 800;
    font-size: 20px;
    padding: 15px 0 20px 0;
  }
  .title {
    font-family: $font-header;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  .subtitle {
    padding: 0 0 10px 0;
    font-family: $font-main;
    font-weight: 600;
    font-size: 14px;
    color: $gray-3;
    line-height: 2em;
  }
  .editor {
    width: 100%;
  }
  .goal {
    display: flex;
  }
  .icon {
    margin: 10px 0 0 0;
  }
  .nextbtn {
    padding: 20px 0 0 0;
    Button {
      position: absolute;
      width: 200px;
      bottom: -5%;
      right: 0;
    }
  }
}
