@import 'assets/styles/main';

.form {
  width: 38%;
  height: 270px;
  border: 2px solid $black;
  border-radius: 8px;
  padding: 50px 30px;

  .achieved-money {
    @include flexbox(center, end);
  }

  .target-money {
    @include flexbox(center, center);
    margin-bottom: 30px;
  }

  .achived-rate {
    @include flexbox(end, center);
  }
}
