@import 'assets/styles/main';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;

  .inner-container {
    position: relative;
    width: 60%;
    height: 90vh;
    // height: fit-content;
    padding: 30px;
    border: 2px solid $black;
    background-color: $white;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }

    .modal-content {
      height: 90%;
      border: 10px;
      display: flex;
      justify-content: center;

      embed {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.openModal {
  @include flexbox;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
