@import 'assets/styles/main';
.container {
  z-index: 0;
}
.inner-container {
  margin-top: -80px;
  border: 2px solid $black;
  padding: 50px;
  display: flex;
  width: 100%;

  .content {
    width: 100%;
  }
}
