@import 'assets/styles/main';

.header {
  @include flexbox(start);
  position: relative;
  margin-bottom: 120px;

  .thumbnail {
    width: 300px;
    height: 350px;
    padding: 5px 5px 60px 5px;
    position: absolute;
    top: -50px;
    left: -30px;
    border: 2px solid $black;
    transform: rotate(-5deg);
    background-color: $white;
    img {
      width: 100%;
      height: 100%;
      border: 2px solid $black;
    }

    .clip-icon {
      position: absolute;
      top: -50px;
      left: 50px;
    }
  }
  .epilogue-info {
    margin-left: 350px;
    width: 100%;
    .top {
      @include flexbox(between);
      margin-bottom: 40px;
      .category-date {
        @include flexbox(between);
        width: 30%;
      }

      .button-wrap {
        @include flexbox(end, center);

        .buttons {
          @include flexbox(between, center);
          width: 150px;
        }
      }
    }

    .info {
      @include flexbox(between, start);

      .left-info {
        @include column-flexbox(between, start);
        height: 150px;
        width: 470px;
        word-break: keep-all;
      }
    }

    .donation-info {
      margin-bottom: 20px;

      .donation-date {
        @include flexbox(between);
        width: 350px;
      }
    }
    .user-info {
      @include flexbox(start);

      .name {
        margin-left: 10px;
      }
    }
  }
}
