@import 'assets/styles/main';

%avatar-base {
  display: block;
  overflow: hidden;
  background-image: url('/assets/images/img-user-default.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-small {
  @extend %avatar-base;
  width: 30px;
  height: 30px;
}

.avatar-default {
  @extend %avatar-base;
  width: 54px;
  height: 54px;
}

.avatar-large {
  @extend %avatar-base;
  width: 90px;
  height: 90px;
}

.avatar-xlarge {
  @extend %avatar-base;
  width: 180px;
  height: 180px;
}
