@import 'assets/styles/main';

.history-item {
  margin: 20px 0 0 0;
  padding-bottom: 10px;

  @include flexbox(between, center);
  
  .value {
    @include flexbox;

    .icon {
      @include flexbox;
      margin-left: 10px;
    }
  }
  .card {
    margin: 10px 0 5px 0;
    padding: 15px 20px 10px 20px;
    width: 100%;
    // height: 130px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $btn-shadow;
    border: 2px solid $black;
    border-radius: 8px;
    position: relative;
    background-color: $white;
    .date {
      @include text-style(12);
      font-family: $font-sub;
      font-weight: 100;
      color: $gray-3;
      margin-bottom: 4px;
    }
  
    .title {
      @include text-style(18);
      font-family: $font-sub;
      font-weight: 600;
      color: $black;
      // white-space: nowrap;
    }
  
    .ls {
      @include flexbox(start);
      .money {
        @include text-style(16);
        color: $gray-4;
       white-space: nowrap;
      }
      .parti {
        padding: 0 0 0 10px;
        @include text-style(12);
        color: $red;
        white-space: nowrap;
      }
    }
  
    .open-btn {
      cursor: pointer;
      width: 100%;
      text-decoration: underline;
      color: $green;
      text-align: end;
      font-size: small;
      padding-bottom: 8px;
      font-family: 'Noto Sans';
    }
  }
}

