@import 'assets/styles/main';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);

  .text-background {
    padding: 20px 40px;
    border-radius: 20px;

    &.green {
      background-color: $green;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.red {
      background-color: $red;
    }
  }
  .loading-spinner {
    // background-color: ;
    width: 40vw;
    height: 70vh;
    @include column-flexbox(start);
    img {
      width: 300px;
      height: 300px;
    }
  }
  .modalForm {
    width: 1000px;
    height: 700px;
    padding: 50px;
    border: 2px solid $black;
    background-color: $white;
    .header {
      @include flexbox(between, center);
      position: relative;
      margin-bottom: 50px;

      .close-btn {
        @include column-flexbox;
        cursor: pointer;
      }
    }
    .content {
      min-height: 500px;
    }
    .title {
      margin-bottom: 30px;
    }
    .wallet-row {
      @include flexbox(start);
      margin-bottom: 50px;

      .wallet-form {
        border: 2px solid $black;
        border-radius: 8px;
        padding: 10px;
        margin-right: 20px;
        width: 70%;

        .description {
          .wallet-account {
            @include flexbox(start, center);
          }
        }
      }

      // .wallet-account {
      //   width: 80%;
      //   margin-right: 20px;
      // }

      .money {
        @include flexbox(start, end);
        .icon {
          margin-right: 10px;
          height: 33px;
        }
      }
    }
    .donate-form {
      .donate-money-wrap {
        @include flexbox;
        width: 100%;
        margin-bottom: 50px;

        .donate-money-row {
          @include flexbox(between, center);
          width: 500px;
          .donate-money-info {
            @include column-flexbox;
            .donate-money {
              @include flexbox(center, end);

              .money {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .btn-row {
        @include flexbox;
        .donate-btn {
          width: 300px;
        }
      }
    }
  }
}

.openModal {
  @include flexbox;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
