@font-face {
  font-family: 'BASE FONT';
  src: url('../../fonts/ONE+Mobile+POP.ttf');
}

@font-face {
  font-family: 'BASE FONT';
  src: url('../../fonts/SuezOne-Regular.ttf');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Hand Writting';
  src: url('../../fonts/손글씨체.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  src: url('../../fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 500;
  src: url('../../fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  src: url('../../fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'Numbers';
  src: url('../../fonts/ONE+Mobile+POP.ttf');
}