@font-face {
  font-family: 'BASE FONT';
  src: url('../../fonts/SuezOne-Regular.ttf');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'BASE FONT';
  src: url('../../fonts/ONE+Mobile+POP.ttf');
}

@font-face {
  font-family: 'Hand Writting';
  src: url('../../fonts/손글씨체.ttf');
}
