@import 'assets/styles/main';

.comments-count {
  @include flexbox(start, center);
  margin-bottom: 20px;
  h3 {
    margin-right: 10px;
  }
}

.comment-form {
  margin-bottom: 30px;
  .comment-input {
    border: 2px solid $black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 120px;
    resize: none;
  }

  .comment-registBtn {
    margin-left: auto;
    width: 10%;
  }
}
