@import 'assets/styles/main';


div {
  font-family: 'Noto Sans';
}
.item {
  padding: 10px 50px;
  border-top: 2px solid $black;

  &:hover {
    background-color: $background-shadow;
  }

  .status {
    position: absolute;
    right: 0;
    // font-size: 18px;
    font-family: 'Noto Sans';
  }
}

